.container__places {
  width: calc(100% - 148px * 2);
  margin: 92px auto;
  min-width: 984px;
}
@media screen and (max-width: 1279px) {
  .container__places {
    width: calc(100% - 48px * 2);
    min-width: 928px;
  }
}
@media screen and (max-width: 1023px) {
  .container__places {
    width: calc(100% - 24px * 2);
    min-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .container__places {
    width: 100%;
    min-width: 320px;
  }
}
