.lead-container {
  width: calc(100% - 148px * 2);
}
@media screen and (max-width: 1279px) {
  .lead-container {
    width: calc(100% - 48px * 2);
  }
}
@media screen and (max-width: 1023px) {
  .lead-container {
    width: 100%;
  }
}
