@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./Inter-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./Inter-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("./Inter-Black.ttf") format("TrueType");
}
